@media (min-width: 768px) {
  .client-carousel {
    height: 78px;
    padding-top: 18px;
  }
  
  #carousel-example-generic {
    margin-bottom: 0;
  }
  
  .client-carousel .carousel-control.left {
    padding-top:14px;
    background-image: none;
    color: black;
  }
  
  .client-carousel .carousel-control.right {
    padding-top:14px;
    background-image: none;
    color: black;
  }
  
  .client-carousel. carousel-control > i {
    font-size: 30px;
    color: #000;
  }
  
  .client-carousel. carousel-control span {
    font-size: 0;
  }
  
  .carousel-inner {
    width: 100%;
    margin: 0 auto;
  }
  
  .logos-container ul {
    margin: 0 auto;
    width: 80%;
    
  }
  
  .logos-container li {
    float: left;
    list-style-type: none;
    width: 20%;
  }

  .logos-container img {
    width: 100px;
  }
}