.footer {
  background-color: #00C6BF;
  height: 62px;
}

.footer-text {
  text-align: center;
  color: white;
  margin-top: 22px;
}

@media (min-width:768px) {
  .footer {
    /*height: 82px;*/
  }
}

@media (min-width:992px) {
  .footer {
    /*height: 127px;*/
  }
}