@font-face {
	font-family: DINNextLTPro-UltraLightIt;
	src: url(../fonts/DINNextLTPro-UltraLightIt.otf);
}

@font-face {
	font-family: DINNextLTPro-UltraLight;
	src: url(../fonts/DINNextLTPro-UltraLight.otf);
}
