@font-face {
	font-family: DINNextLTPro-UltraLightIt;
	src: url(../fonts/DINNextLTPro-UltraLightIt.otf);
}

@font-face {
	font-family: DINNextLTPro-UltraLight;
	src: url(../fonts/DINNextLTPro-UltraLight.otf);
}

@media (max-width: 767px) {
  .tablet-up {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .tablet-up {
    display: block !important;
  }
}