@import url("include.css"); 

.modal-content {
  border-radius: 0;
  background-color:rgba(255,255,255,0.92);
  font-size: 16px;
}

.form-control {
  border-radius: 0;
}

.modal-text {

}

.contact-exit {
  font-size:34px;

}

.contact-title {
  text-align: center;
}

.message-box {
  width: 300px;
}

.contact-header {

}

.contact-close {
  color: white;
}

.contact-footer {
  background-color: black;
}

.contact-button {
  margin: 0 auto;
}