.testimonial {
  height: 383px;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+0,ffffff+50,ffffff+51,b8b8b8+100 */
  background: #e8e8e8; /* Old browsers */
  background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 50%, #ffffff 51%, #b8b8b8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(50%,#ffffff), color-stop(51%,#ffffff), color-stop(100%,#b8b8b8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 50%,#ffffff 51%,#b8b8b8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 50%,#ffffff 51%,#b8b8b8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 50%,#ffffff 51%,#b8b8b8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 50%,#ffffff 51%,#b8b8b8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#b8b8b8',GradientType=0 ); /* IE6-9 */
}

.testimonial-quote {
  font-size: 22px;
  color: black;
  padding-top: 40px;
}

.testimonial-author {
  font-size: 16px;
  width: 200px;
}

.devin {
  width:100%;
  height:393px;
  background-position: right 0;
  background-repeat: no-repeat;
  background-image: url(../img/mobile_devin.png);
}

.case-study-button {
  border: 0;
  background: rgba(0,0,0,0.8);
  width: 155px;
  margin: 0 auto;
  height: 40px;
  line-height: 37px;
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
  display: block;
}

.case-study-button:hover {
  background: #03b9c8;
  color: #FFF;
}


@media (min-width: 768px) {
  .testimonial {
    height: 250px; 
  }
  
  .courtney {
    width:100%;
    height:250px;
    background-position: right 0;
    background-repeat: no-repeat;
    background-image: url(../img/tablet_courtney.png);
  }
  
  .devin {
    background-image: url(../img/tablet_devin.png);
    background-position: left 0;
    height:250px;
  }
  
  .testimonial-quote {
    font-size: 24px;
    color: black;
    width: 600px;
    margin-left: 50px;
    padding-top: 50px;
  }
  
  .testimonial-author {
    font-size: 16px;
    margin-top: 0px;
    margin-left: 50px;
    text-align: left;
    width: auto;
  }
  
}

@media (min-width: 1170px) {
  .courtney {
    height:393px;  
    background-image: url(../img/full_courtney.png);
  }
  
  .devin {
    height:393px; 
    background-image: url(../img/full_devin.png);
  }
  
  .testimonial {
    height: 383px;
  }
  
  .testimonial-quote {
    font-size: 36px;
    margin-left: 60px;
    padding-top: 70px;
  }
  
  .testimonial-author {
    margin-left: 60px;
    font-size: 20px;
  }
}
